@using Microsoft.AspNetCore.Mvc.Localization
@using AbpDynamicResourceManagement.Localization
@inject IHtmlLocalizer<AbpDynamicResourceManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
